body {
    font-family: Monospace;
}

.leftCol {
    display:inline-block;
    width: 48%;
    float: left;
    padding-bottom: 10px;
}

.rightCol {
    display:inline-block;
    width: 48%;
    float: right;
    padding-bottom: 10px;

}

.formfield * {
  vertical-align: middle;
}

.main {
    width: 100%;
    overflow: hidden;
}

textarea {
    width: 95%;
}

.fqninput {
    width: 95%;
}